<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ScreenProtect.Setting" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ScreenProtect.Setting>
            <setting name="Volume" serializeAs="String">
                <value>0</value>
            </setting>
        </ScreenProtect.Setting>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
